/* General css elements */
body {
    background-color: white;
    font-family: 'Roboto', monospace;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 16px;
    color: white;
}

.placeholder-img {
    max-width: 50%;
    height: auto;
}

.square-img {
    width: 200px;
    height: 200px;
}

/* Merged element styles */
.header, .top-part, .footer {
    background-color: #1F2937;
    color: white;
}

/* Header */
.header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    gap: 30px;
}

/* Top part with placeholder */
.top-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.top-part-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    padding-right: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.top-part-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top-part-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#top-part-button {
    background-color: #3882f6;
    border: none;
}

.top-part-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 600px;
    background-color: #595b5d;

}

/* Middle part with squares */
.square {
    height: 200px;
    width: 200px;
    border: medium solid #3882f6;
    border-radius: 10px;
}

.card {
    width: 200px;
    justify-content: center;
    align-items: center;
}

.top-middle-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.tmp-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 40px;
}

.square-text {
    text-align: center;
}

/* Low middle part with cite from Thor */
.low-middle-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
}

.lmp-main-text {
    width: 1100px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

.lmp-cite {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 900;
    width: 1100px;
    padding-right: 50px;
}

/* Low part with Sign Up Button */
.low-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
}

.low-part-blue {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 5px;
    height: 150px;
    width: 1100px;
}

.low-part-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.low-part-heading {
    display: flex;
    justify-content: flex-start;
    font-weight: 900;
    font-size: 18px;
}

.low-part-text{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.low-part-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#low-part-button {
    background-color: #3882f6;
    border-radius: 10px;
    border: medium solid white;
    color: white;
}

/* Footer */
.footer {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

